%bth{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    &:hover{
        transform: scale(.98);
    }
}
.btn-primary{
    @extend %bth;
    @include set-background(lighten($primary-color, 10%))
}
.btn-secondary{
    @extend %bth;
    @include set-background($secondary-color);
}